<div class="posts col-sm-12">
{% for post in posts %}
    <li class="post">
        <div class="post-head-img">
            <a href="{{ url_for('.post', id=post.id) }}">
                <img class="img-responsive" src="{{ url_for('static', filename=post.post_img) }}">
            </a>
        </div>
        <div class="post-head">
            <a href="{{ url_for('.post', id=post.id) }}">
            {{ post.post_head }}<small style="font-size: 12px;color: #98989a;">  查看全文...</small>
            </a>
        </div>
        <div class="post-meta clearfix">
            <div class="post-img col-xs-1 col-sm-1">
                <a href="{{ url_for('.user', username=post.author.username) }}">
                    <img class="img-circle"
                    src="{{ url_for('static', filename=post.author.head_img) }}" width="30" height="30">
                </a>
            </div>
            <div class="post-author col-xs-5 col-sm-3">
                作者：
                <a href="{{ url_for('.user', username=post.author.username) }}">
                {{ post.author.username }}
                </a>
            </div>
            <div class="post-date col-xs-4 col-sm-4">发布于：{{ moment(post.timestamp).format('L') }}</div>
            <div class="comment-count col-xs-2 col-sm-4">
            <p class="text-right" style="font-size: 10px;">
            {{ Comment.query.filter_by(post_id=post.id).count() }} 条评论<br>{{ post.count }} 次浏览</p></div>
        </div>
    </li>
    {% endfor %}
</div>
